/* General Page Layout */
.logged-in-container {
    display: flex;
    height: 100vh;
    margin-right: 20%;
}

/* Sidebar Styling */
.sidebar {
    width: 250px;
    background: #f4f4f4;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    transition: transform 0.3s ease-in-out;
}

/* Sidebar Menu */
.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    padding: 10px 20px;
}

.sidebar-menu li a {
    text-decoration: none;
    color: #0073b1;
    font-weight: bold;
    display: block;
}

.sidebar-menu li a:hover {
    background: #0073b1;
    color: white;
    padding-left: 5px;
}

/* Main Content */
.main-content {
    flex-grow: 1;
    padding: 20px;
    margin-right: 0%;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1), -5px 0 5px rgba(1, 0, 0, 0.1); /* Adds shadow to the right margin */
    background: white;
}